<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'src/css/styles.css' %}" rel="stylesheet">
    <script src="{% static 'src/js/chart.umd.js' %}"></script>
    <title>Display</title>
</head>
<body>
    <!-- Data Chart -->
    <section>
        <div class="up-frame | p-8 justify-center items-center rounded-2xl">
            <div class="up-content | p-4 border-red-500 border-4 border-none justify-center items-center">
                <h1 class="text-3xl text-left font-bold tracking-wider">Data Visualization</h1>
                    <div class="flex w-96 max-w-lg mx-auto my-6">
                        <canvas id="myPieChart"></canvas>
                        <script>
                        var infect_count = JSON.parse('{{ par_count|escapejs }}');
                        var uninfect_count = JSON.parse('{{ un_count|escapejs }}');
                        
                        const data = {
                                    labels: ['Infected', 'Uninfected'],
                                    datasets: [
                                        {
                                            label: 'Cell Status',
                                            data: [infect_count, uninfect_count],
                                            backgroundColor: ['rgb(255, 51, 51)', 'rgb(0, 64, 255)'],
                                        }
                                    ]
                                };
                
                        const config = {
                            type: 'pie',
                            data: data,
                            options: {
                                responsive: true,
                                plugins: {
                                    legend: {
                                        position: 'top',
                                        labels: {
                                            font: {
                                                size: 26,
                                            },
                                            color: function(context) {
                                                const label = context.chart.data.labels[context.dataIndex];
                                                if (label === 'Infected') {
                                                    return 'rgb(255, 0, 0)';
                                                } else if (label === 'Uninfected') {
                                                    return 'rgb(0, 0, 255)'; 
                                                }
                                                return 'rgb(0, 0, 0)'; 
                                            },
                                        }
                                    },
                                    title: {
                                        display: true,
                                        text: 'Prediction Status',
                                        font: {
                                            size: 20
                                        }
                                    }
                                }
                            },
                        };
                
                        const myPieChart = new Chart(
                            document.getElementById('myPieChart'),
                            config
                        );
                
                        function updateChartData() {
                            myPieChart.data.datasets[0].data = [6, 9];
                            myPieChart.update();
                        }
                        </script>
                    </div>
            </div>
        </div>
    </section>

    <section>
        <div class="down-frame | p-8 justify-center items-center rounded-2xl">
            <div class="mt-28 border-4 border-none border-red-900">

                <!-- Display Images -->
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
                    {% if page_obj %}
                        {% for image in page_obj %}
                            {% if image.status == 'valid' %}
                            <div class="w-60 h-80 bg-neutral-800 rounded-3xl text-neutral-300 p-4 flex flex-col items-start justify-center gap-3 hover:bg-gray-900 hover:shadow-2xl hover:shadow-sky-400 transition-shadow">
                                <div class="w-52 h-40 bg-sky-300 rounded-2xl">
                                    <img src="{{ image.image.url }}" alt="image" class="w-52 h-40 rounded-2xl">
                                </div>
                                
                                <div class="">
                                    <p class="font-extrabold uppercase">{{image.con_lvl}}% | {{image.label}}</p>
                                </div>
                                
                                <div class="mt-2 justify-center items-center">
                                    <button class="bg-sky-700 font-extrabold ml-1 p-2 px-6 rounded-xl hover:bg-sky-500 transition-colors">
                                        <a href="{{ image.image.url }}" target="_blank">View</a>
                                    </button>
                                    <button class="bg-sky-700 font-extrabold ml-2 p-2 px-5 rounded-xl hover:bg-sky-500 transition-colors">
                                        <a href="{% url 'remove_img' image.id %}">Remove</a>
                                    </button>
                                </div>
                            </div>
                            {% else %}
                                <div class="w-60 h-80 bg-neutral-800 rounded-3xl text-neutral-300 p-4 flex flex-col items-start justify-center gap-3 hover:bg-gray-900 hover:shadow-2xl hover:shadow-sky-400 transition-shadow">
                                    <div class="w-52 h-40 bg-sky-300 rounded-2xl">
                                        <img src="{{ image.image.url }}" alt="image" class="w-52 h-40 rounded-2xl">
                                    </div>
                                    
                                    <div class="">
                                        <p class="font-extrabold ml-10 mt-5">INVALID INPUT</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

            </div>

            <!-- pagination -->
            <div class="pagination text-center mt-10">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
        
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
        
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>

            <!-- Buttons -->
            <div class="text-center">
                <button class="p-2 px-20 my-20 mx-10 bg-sky-500 rounded-xl hover:bg-sky-700">
                    <a href="{% url 'save' %}" class="text-3xl text-white">Save</a>
                </button>
    
                <button class="p-2 px-20 my-20 mx-10 bg-red-700 rounded-xl hover:bg-red-900">
                    <a href="{% url 'reset' %}" class="text-3xl text-white">Reset</a>
                </button>
            </div>
        </div>
    </section>
</body>
</html>