<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'src/css/styles.css' %}">
    <script src="{% static 'src/js/chart.umd.js' %}"></script>
    <title>Records</title>
</head>
<body>

    <main class="rec-main-frame | justify-center items-center flex">
        <section>
            <div class="rec-left-frame | p-4 px-10 float-left justify-center items-center rounded-2xl">
                <!-- Data Chart -->
                <div class="mt-16 border-red-600 border-4 border-none">
                    <h1 class="text-2xl font-bold">Data Visualization</h1>
                    <div class="flex w-28 max-w-lg mx-auto my-6"></div>
                        <canvas id="barChart"></canvas>
                        <script>
                        document.addEventListener('DOMContentLoaded', function () {
                        const datelist = JSON.parse('{{ date_value|escapejs }}');
                        const parasitized_count = JSON.parse('{{ parasitized_count|escapejs }}');
                        const uninfected_count = JSON.parse('{{ uninfected_count|escapejs }}');

                        const barData = {
                            labels: datelist,
                            datasets: [{
                                label: 'Parasitized',
                                data: [21,12],
                                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                                borderColor: 'rgba(255, 99, 132, 1)',
                                borderWidth: 1
                            }, {
                                label: 'Uninfected',
                                data: [13, 7],
                                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                                borderColor: 'rgba(54, 162, 235, 1)',
                                borderWidth: 1
                            }]
                        };

                        const barConfig = {
                            type: 'bar',
                            data: barData,
                            options: {
                                responsive: true,
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        };

                        const barChart = new Chart(
                            document.getElementById('barChart'),
                            barConfig
                        );
                    });
                        </script>
                    </div>
                </div>
            </div>
        </section>  

        <section>
            <div class="rec-right-frame | p-4 px-16 float-right justify-center items-center rounded-2xl">
                <!-- content -->
                <button class="float-right m-2 w-28 p-2 rounded-xl bg-black text-white tracking-wider">
                    <a href="{% url 'upload' %}">Upload</a>
                </button>

                <div class="container mx-auto p-4 mt-24 border-red-600 border-4 border-none">
                    {% if page_obj %}
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                        {% for record in page_obj %}
                        <!-- Card UI -->
                        <div class="flex flex-col bg-white w-full rounded-lg py-4 px-6 border">
                            <h3 class="text-base font-semibold text-gray-900 text-center">Record {{ record.record_number }}</h3>
                            <div class="flex gap-2 text-sm text-gray-500 border-b pb-2">
                                <p class="">Date Save:</p>
                                <p>{{ record.date }}</p>
                            </div>
                            <div class="flex justify-around items-center py-3">
                                <button class="font-semibold text-sm text-green-700 border-solid border-green-700 border-2 p-1 rounded-lg">
                                    <a href="{% url 'view_img' record.id %}" class="mx-4">View</a>
                                </button>
                                <button class="font-semibold text-sm text-red-700 border-solid border-red-700 border-2 p-1 rounded-lg">
                                    <a href="{% url 'del_record' record.id %}" class="mx-4">Delete</a>
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <!-- pagination -->
                <div class="pagination text-center mt-10">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
            
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
            
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                
            </div>
        </section>

    </main>

</body>
</html>

